---
layout: page
title: Browse Posts by Category
permalink: /browse/
---

{% comment %}
# post.url is  /interpretable%20machine%20learning/2021/07/02/on_shapley_values_formulae.html
{% endcomment %}

{% assign sorted_cats = site.categories | sort %}
{% for category in sorted_cats %}
    <h2 id="{{category[0] | uri_escape | downcase }}">{{category[0] | capitalize}}</H2>
    {% assign sorted_posts = category[1] | reverse %}
    <ul>
        {% for post in sorted_posts %}
       <li><a href="{{ site.url }}{{ site.baseurl }}{{  post.url }}">{{  post.title }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}
