---
layout: page
---
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

 <!--  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

<!-- {% include head.html %} -->

<!-- 

$\frac{1}{A^3}$  

{% for category in site.categories %}
    <h2>{{ category[0] }}</h2>
    <ul>
        {% for post in category[1] %}
        <li>{{post.title}}</li>
        {% endfor %}
    </ul>
{% endfor %}

-->

<!-- 
{% for cat in site.category %}
  <h2>{{ cat.title}} - {{ cat.description}}</h2>
  <p>{{ staff_member.content | markdownify }}</p> 
{% endfor %}
-->

</div>


